* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.light {
  background: #fff;
  color: #333;
}

.dark {
  background: #333;
  color: rgb(183, 183, 184); 
}

.light, .dark {
  transition: background .3s ease, color .3s ease;
}